[MASTER]
profile = no


[VARIABLES]
dummy-variables-rqx = dummy.*$
# additional-builtins = log, warn, log_error, debug, verbose


[MESSAGES CONTROL]

# C101: Line too long (The c1* errors need to be reconsidered)
# C0111: Missing docstring
# C0103: Invalid name
# C0301: Line too long
# E1103: Instance of '...' has no '...' member (but some types could not be inferred) (buggy)
# I0011: Locally disabling ...
# R0201: Method could be a function (some classes are used only outside of the defining script)
# R0401:  Cyclic import (we really need some)
# R0903: Too few public methods (some classes are used as Data structures)
# R0912: Too many branches (there are a few monoliths that have to have a lot of branches)
# R0913: Too many arguments
# R0914: Too many local variables
# R0915: Too many statements (there are a few monoliths that have to have a lot of statements)
# W0232: Class has no __init__ method
# W0311: Bad indentation. Found 2 spaces, expected 4. (We use 2 spaces)
# W0312: Found indentation with tabs instead of spaces
# W0142: Used * or ** magic (Commander has to use a lot of magic)
# W0401: Wildcard import
# W0403: Relative import 'module', should be 'package.module'. (Doesn't seem to be necessary)
# W0603: Using the global statement (Some times it seems to be necessary)
# W0611: Unused import Command (Several modules have cross dependencies that have to be imported at the end of the module)
# W0614: Unused import from wildcard import
# W0621: Redefining name from outer scope (the implementation is buggy, it doesn't consider the global statement)
# W0622: Redefining built-in 'type' (skipped because some names are chosen for redability) 
# W0702: No exception type(s) specified (all the exceptions should be caught)
# W0703: Catching too general exception (even the most generic exception shoud be caught)

disable = C0111, C0103, C0301,
	I0011,
	E1103,
  R0201, R0401, R0903, R0912, R0913, R0914, R0915,
	W0142, W0311, W0403, W0603, W0611, W0621, W0622,

[REPORTS]
output-format = text
include-ids = yes
files-output = no
reports = no
comment = no