# http://editorconfig.org

root = true

[*]
indent_style = tab
trim_trailing_whitespace = true
insert_final_newline = true
end_of_line = lf

# Windows specific files
[*.bat]
end_of_line = crlf

# Space indented files
[*.py]
indent_style = space
indent_size = 2
